<div id="equipo" class="card text-center">
    <div class="card-header">
        <h1>EQUIPO</h1>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <div class="m-2 py-5 px-2 flex-wrap d-flex align-items-center  justify-content-center color2">
                <div class="card text-center">
                    <img src="assets/img/edson.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Edson Luis Flores Toro</h4>
                        <h6>
                            <hr>
                            <p>SOCIO</p>
                            <hr>
                            <b>Universidad:</b> Universidad Tecnologica del Perú<br>
                            <b>Ocupación:</b> Estudiante de Ing. de Sistemas<br>
                            <b>Mensaje:</b> Con expectativas de desarrollarse<br>
                            como creador de paginas webs.
                        </h6>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="assets/img/enrique.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Carlos Enrique René Torres Tumbalobos</h4>
                        <h6>
                            <hr>
                            <p>SOCIO</p>
                            <hr>
                            <b>Universidad:</b> Universidad Tecnologica del Perú<br>
                            <b>Ocupación:</b> Estudiante de Ing. de Sistemas<br>
                            <b>Mensaje:</b> Con expectativas de desarrollarse<br>
                            como creador de paginas webs.
                        </h6>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="nn" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Kevin Arnol Cerrinos Barroso</h4>
                        <h6>
                            <hr>
                            <p>SOCIO</p>
                            <hr>
                            <b>Universidad:</b> Universidad Tecnologica del Perú<br>
                            <b>Ocupación:</b> Estudiante de Ing. de Sistemas<br>
                            <b>Mensaje:</b> Con expectativas de desarrollarse<br>
                            como creador de paginas webs.
                        </h6>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="nn" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Jossmar Steve Carruitero Hinostroza</h4>
                        <h6>
                            <hr>
                            <p>SOCIO</p>
                            <hr>
                            <b>Universidad:</b> Universidad Tecnologica del Perú<br>
                            <b>Ocupación:</b> Estudiante de Ing. de Sistemas<br>
                            <b>Mensaje:</b> Con expectativas de desarrollarse<br>
                            como creador de paginas webs.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <h2>DE PROGRAMADORES</h2>
    </div>
</div>