<div class="round">
  <div class="m-5" *ngIf="isLogged; else loggedOut">
    <h2>Ya haz iniciado sesion</h2>
  </div>
  <ng-template #loggedOut>
  <div class="log2 m-5">
    <div class="log">
      <div class="container d-flex justify-content-center mt-5 mb-5">
      
          <form #f="ngForm" (ngSubmit)="onRegister()">
            
            <h1 class=" text-center h3 mb-3 fw-normal">Registrar Nuevo Usuario</h1> <br>
          
            <div class="form-floating">
              <label for="floatingInput">Nombres y Apellidos</label>
              <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control f1" id="floatingInput" placeholder="Nombre y Apellidos"> <br>
              
            </div>
            <div class="form-floating">
              <label for="floatingInput">Usuario</label>
              <input [(ngModel)]="username" name="username" type="text" class="form-control f2" id="floatingInput" placeholder="Usuario"><br>
              
            </div>
            <div class="form-floating">
              <label for="floatingInput">Correo electronico</label>
              <input [(ngModel)]="email" name="email" type="text" class="form-control f3" id="floatingInput" placeholder="name@example.com"><br>
              
            </div>
            <div class="form-floating">
              <label for="floatingPassword">Contraseña</label>
              <input [(ngModel)]="password" name="password" type="password" class="form-control f4" id="floatingPassword" placeholder="Contraseña"><br>
            </div>
            <div class="checkbox mb-3">
              <a [routerLink]="['/login']" routerLinkActive="router-link-active">¿Ya tienes una cuenta?</a>
            </div>
          
            <button class="mt-3 w-100 btn btn-lg bn" type="submit">Registrar</button>
          </form>
          
     </div>
    </div>
  </div>
  </ng-template>

</div>