<br>
<div class="text-center">
    <h1>NOSOTROS</h1>
</div>
<br>
<div id="nosotros" class="card text-center">
    <div class="card-body">
        <div class="col-sm-12">
            <div id="cont" class="card">
                <div id="verde" class="card-body">
                    <img src="assets/img/qsomos.svg" class="img" alt="">
                    <h5 class="card-title text-left"><b>¿Quiénes somos?</b></h5>
                    <p class="card-text">La empresa Plastic Anthony’s cuenta con más de 12 años de experiencia en el
                        sector de la venta de plásticos para la industria peruana en cuidado del medio ambiente. Así
                        mismo, se dedica a la fabricación y comercialización de productos plásticos de primera calidad a
                        nivel nacional como: Inyección PET, soplado de envases PET, Polietileno, Polipropileno, entre
                        otros. Esto se debe a nuestra capacidad productiva que nos ha permitido desarrollar y mejorar
                        progresivamente, brindando hoy en día el servicio de diseño de envases y fabricación de moldes.
                        Además, Cubrimos distintos mercados de envases plásticos desde bebidas carbonatadas, aguas,
                        aceites, agroquímicos, lácteos, limpieza del hogar, jugos hasta el mercado farmacéutico.</p>
                </div>
            </div>
            <br><br><br><br><br>
            <div id="cont" class="card">
                <div id="celeste" class="card-body">
                    <img src="assets/img/vision.svg" class="img" alt="">
                    <h5 class="card-title text-left"><b>VISIÓN</b></h5>
                    <p class="card-text">Reforzar continuamente nuestro proyecto empresarial, nuestra marca para crecer
                        y proporcionar a nuestros clientes los mejores productos de plástico. Es clave conseguir un alto
                        grado de satisfacción de nuestros clientes estableciendo una relación muy cercana con ellos y
                        ofreciéndoles servicios de calidad en los que confiar.</p>
                </div>
            </div>
            <br><br><br><br><br>
            <div id="cont" class="card">
                <div id="amarillo" class="card-body">
                    <img src="assets/img/mision.svg" class="img" alt="">
                    <h5 class="card-title text-left"><b>MISIÓN</b></h5>
                    <p class="card-text">Continuar siendo uno de los principales referentes en el mercado que brinda
                        productos de plástico de la mejor calidad, gracias a nuestro trabajo con gran esfuerzo durante
                        más de 15 años. Queremos seguir siendo referentes en nuestro sector, en servicio, diseño e
                        innovación.</p>
                </div>
            </div>
        </div>
    </div>
</div>