.btnvolver{
    margin-bottom: 50px;
    
 }
 .pay{
     background-color: black;
 }
 h3{
     color: red;
 }
 .Colums{
     display: flex;
     margin-bottom: 50px;
 }
 .imagen{
     background-color:#F6DDC3;
     margin: 40px;
     padding: 20px;
     margin-right: 100px;
 }
 .bn{
     background-color: red;
     color: white;
 }
 .container{
     background-color: white;
     padding: 50px;
     margin: 100px;
     margin-left: auto;
     margin-right: auto;
 }
 .button{
     background-color:green;
     color: white;
     border-radius: 5px;
     padding: 6px;
 }