<div class="m-5">
  <div class="log2">
    <div class="log">
      <div class="container my-3">
      <h4 class="text-center" style="color: #D84727;">Confirmacion</h4> <br><br>
      </div>
        <div class="cd">
          <div class="card mb-5" style="width: 18rem;" >
            <div class="im">
              <img src="./assets/img/confirmacion.svg" class="" alt="..." width="200em">
            </div>
            <div class="card-body mb-3">
                <h5 class="card-title text-center">Compra Realizada</h5><br>
                <p class="card-text text-center">Su pedido ha sido confirmado, espere y realice un seguimiento de su pedido. </p> <br>
                <a href="#" class="bn btn mb-1" >Regresar a la Pagina</a>
            </div>
          </div>
        </div>
    </div>   
  </div>
</div>