<div class="d-flex align-items-center justify-content-center">
  <div class="slider85 color1">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active " data-bs-interval="10000">
          <div class="d-flex align-items-center">
            <div class="imagen-container">
              <img
                src="http://www.globalplastic.pe/images/products/Botellas/Botellas_agua/Bot-agua-gas-500ml.png"
                class="imagen"
                alt="..."
              />
            </div>
            <div class="info-container">
              <h2>First slide label</h2>
              <p>
                Some representative placeholder content for the first slide.
              </p>
              <button class="button1">Agreagar a carrito</button>
              <button class="button2">Ir</button>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="d-flex align-items-center">
            <div class="imagen-container">
              <img
                src="http://www.globalplastic.pe/images/products/Botellas/Botellas_Alcoholera/Bot-alcoholera-125ml.png"
                class=" imagen "
                alt="..."
              />
            </div>
            <div class="info-container">
              <h2>Second slide label</h2>
              <p>
                Some representative placeholder content for the second slide.
              </p>
              <button class="button1">Agreagar a carrito</button>
              <button class="button2">Ir</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex align-items-center">
            <div class="imagen-container">
              <img
                src="http://www.globalplastic.pe/images/products/Botellas/Botellas_Tubular/Botella-tubular-220ml.png"
                class="imagen"
                alt="..."
              />
            </div>
            <div class="info-container">
              <h2>Third slide label</h2>
              <p>
                Some representative placeholder content for the third slide.
              </p>
              <button class="button1">Agreagar a carrito</button>
              <button class="button2">Ir</button>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="container my-5">
    <div class="d-flex">
        <div class=" m-2 py-5 px-2 flex-wrap d-flex align-items-center  justify-content-center color2 ">
            <div class="flex-2">
                <h2>Botellas de agua</h2>
                <p>Contamos con una gran varuedad de botellas de diferentes dimensiones para todas las neceidades</p>
                <a href="/">Conoce mas</a>
            </div>
            <div class="flex-1">
                <img class="imagen" src="http://www.globalplastic.pe/images/products/Botellas/Botellas_Tubular/Botella-tubular-220ml.png" alt="dc" />
            </div>
        </div>
        <div class="m-2 py-5 px-2 flex-wrap d-flex align-items-center  justify-content-center color2">
            <div class="flex-2">
                <h2>Botellas de agua</h2>
                <p>Contamos con una gran varuedad de botellas de diferentes dimensiones para todas las neceidades</p>
                <a href="/">Conoce mas</a>
            </div>
            <div class="flex-1">
                <img class="imagen" src="http://www.globalplastic.pe/images/products/Botellas/Botellas_Tubular/Botella-tubular-220ml.png" alt="dc" />
            </div>
        </div>
        
    </div>
</div>
