<div class="container-top">
       
    <div class="col1">
        <img src="./assets/img/bni.svg" alt=""> <br>
        <img src="./assets/img/mandiri.svg" alt="">  
    </div>

    <div class="col2">
        <img src="./assets/img/permata.svg" alt=""> <br>
        <img src="./assets/img/kredivo.svg" alt="">
    </div>
    
    <div class="col3">
        <img src="./assets/img/mastercard.svg" alt=""> <br>
        <img src="./assets/img/uob.svg" alt="">
    </div>

    <div class="col4">
        <img src="./assets/img/danamon.svg" alt=""> <br>
        <img src="./assets/img/gopay.svg" alt="">
    </div>

    <div class="col5">
        <img src="./assets/img/visa.svg" alt=""> <br>
        <img src="./assets/img/standart.svg" alt="">
    </div>

</div>

<footer>
        
    <div class="container-body">
        
        <div class="colum1">
          <a> PLASTIC <br> ANTHONY'S </a>
          <h3> <br> Direccion
          </h3>
          <p> Av pettitours s/n </p>
          <h3> <br> Horario de oficina</h3>
          <p> lunes - viernes </p>
          <p> 10:00 - 18:00 </p>
        </div>

        <div class="colum2">
         <h2> Contactanos </h2> <hr>
        <div class="telefono" >  <div><h4> Telefonos: </h4></div>
         <div class="numeros">
         <p> 022-20277564</p> 
         <p> 0811-233-8899</p>
         <p> 0811-235-9988</p>
        </div>
        </div>
          <div class="row redes"><br>
            <div class="redes">
            <a href="http://www.facebook.com" target="_blank"><img alt="Siguenos en Facebook" src="https://cdn.icon-icons.com/icons2/91/PNG/512/facebook_16423.png" width=32 height=32  /></a>
            <a href="https://www.twitter.com" target="_blank"><img alt="Siguenos en twitter" src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" width=32 height=32  /></a>
            <a href="https://instagram.com" target="_blank"><img alt="Siguenos en instagram" src="https://i.pinimg.com/originals/3b/21/c7/3b21c7efd2ba9c119fb8d361acacc31d.png" width=32 height=32  /></a>
            <a href="https://www.youtube.com" target="_blank"><img alt="Siguenos en YouTube" src="https://cdn.icon-icons.com/icons2/195/PNG/256/YouTube_23392.png" width=32 height=32  /></a>
        </div> 
        </div>
        </div>
        <div class="colum3">
           <h2> Links </h2> <hr>
            <a href="/">Inicio </a> <br> <br>
            <a href="/">Productos </a><br> <br>
            <a href="/">Nosotros </a><br><br> 
            <a href="/">Contactanos</a><br><br>
            <a href="/">Terms</a><br><br>
            <a href="/">FAQ </a><br><br>
        </div>

        <div class="colum4">
           <h2> Campañas </h2> <hr>
           <a href="/">Ferias empresariales </a><br><br> 
            <a href="/">Viva verde</a><br><br>
            <a href="/">Reciclaje</a><br><br>
            <a href="/">Ayuda</a><br><br>
        </div>
    </div>
     

</footer>
